@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html {
    min-height: 100%;
}

main {
    margin-bottom: 250px;
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.hero-scene {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        background-image: url(/images/food-1685942_1280.jpg);
        filter: brightness(0.3);
        background-size: cover;

    }
    * {
        position:relative;
    }
}
.hero-scene-content {
    height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

